@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h3 class="display-4">Bạn chưa <a href="/login">đăng nhập</a></h3>
    <p>Hãy đăng nhập để truy cập các chức năng của trang web </p>
</div>
